body{
    margin:0;
    width:100%;

}

.page{
    display:flex;

}

.element1{
    width:70%;
}

.lien{
    width:30%;
    display:flex;
    flex-wrap:wrap;
justify-content:space-around;
padding-top:5%;


}
h1{
    text-align: center;
}
.conteneur{

    
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-bottom: 5%;
}

.element{
    padding-top:5%;
    padding-left:5%;
    padding-right:5%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
 width:20%;
 border:2px solid black;
 margin-top:5%;
}

.element3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    color:black;

}

.conteneur3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;

}
h4{
    text-align:center;
}
footer{
    margin-bottom:2%;
}