body{
    margin:0;
    width:100%;

}







.lien{
    width:30%;
    display:flex;
    flex-wrap:wrap;
justify-content:space-around;
padding-top:5%;


}
h1{
    text-align: center;
}




h3,h4{
    text-align:center;
}
footer{
    margin-bottom:2%;
}


.conteneur3{
    display:flex;
justify-content: space-around;
}

.element3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align:center;
    width:33%
}

.conteneur{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.elementproduit{
    padding-top:5%;
    padding-bottom:2.5%;
}

p{
    text-align:center;
}

.fas{
    width:10px;
    color: black;
}