body{
    margin:0;
    width:100%;

}

.page{
    display:flex;

}

.element1{
    width:70%;
}

.lien{
    width:30%;
    display:flex;
    flex-wrap:wrap;
justify-content:space-around;
padding-top:5%;


}
h1{
    text-align: center;
}

.tableauproduits{
    width:100%;
}

.tb{
height:100px;

}



h4{
    text-align:center;
}
footer{
    margin-bottom:2%;
}

.element{
    width:25%;
}
.nom{
    width:25%;
    text-align:center;

}

.conteneurproduit{
   
   padding:5%;
}
.conteneur3{
    display:flex;
justify-content: space-around;
}

.element3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    text-align:center;
    width:33%
}